

/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}
a {outline: none;}
button:focus {
  outline: 0;
}

button:hover {
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=75);
  opacity: .75;
}

/* ==== clearfix styles ===================================================== */

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}

/* ==== Fonts ===================================================== */

@font-face {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	src: url('../fonts/HelveticaNeueLTCom-Cn.eot');
	src: url('../fonts/HelveticaNeueLTCom-Cn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTCom-Cn.woff') format('woff'),
		url('../fonts/HelveticaNeueLTCom-Cn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 67 MdCn';
	src: url('../fonts/HelveticaNeueLTCom-MdCn.eot');
	src: url('../fonts/HelveticaNeueLTCom-MdCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTCom-MdCn.woff') format('woff'),
		url('../fonts/HelveticaNeueLTCom-MdCn.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	src: url('../fonts/HelveticaNeueLTCom-BdCn.eot');
	src: url('../fonts/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff'),
		url('../fonts/HelveticaNeueLTCom-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 65 Md';
	src: url('../fonts/HelveticaNeueLTCom-Md.eot');
	src: url('../fonts/HelveticaNeueLTCom-Md.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTCom-Md.woff') format('woff'),
		url('../fonts/HelveticaNeueLTCom-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 55 Roman';
	src: url('../fonts/HelveticaNeueLTCom-Bd.eot');
	src: url('../fonts/HelveticaNeueLTCom-Bd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTCom-Bd.woff') format('woff'),
		url('../fonts/HelveticaNeueLTCom-Bd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 43 LtEx';
	src: url('../fonts/HelveticaNeueLTCom-LtEx.eot');
	src: url('../fonts/HelveticaNeueLTCom-LtEx.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTCom-LtEx.woff') format('woff'),
		url('../fonts/HelveticaNeueLTCom-LtEx.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 45 Lt';
	src: url('../fonts/HelveticaNeueLTCom-Lt.eot');
	src: url('../fonts/HelveticaNeueLTCom-Lt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTCom-Lt.woff') format('woff'),
		url('../fonts/HelveticaNeueLTCom-Lt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}



/* ==== primary styles ===================================================== */


html {
	min-height: 100%;
	background-color: #FFF;
	max-width: 1200px;
	margin: 0 auto;
}


body {
	font-family: 'Helvetica Neue', "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	color: #333;
   	height: 100%;
   	width: 100%;
   	padding: 0;
}

img {
	max-width: 100%;
	width: auto; /* for ie 8 */
}

button:hover {
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=75);
  opacity: .75;
}

.ringpage-header {
	float: left;
	width: 100%;
	height: 300px;
	background-color: #d4f2f6;
}


.ringpage-video-section-wrapper {
	float: left;
	width: 100%;
	background-color: #000; /* delete, bg image will go here */
	background-image: url("");
	background-size: cover;
}

.ringpage-video-section {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	position: relative;
    padding-bottom: 30%;
    padding-top: 30px; height: 0; overflow: hidden;
}

 
.ringpage-video-section iframe,
.ringpage-video-section object,
.ringpage-video-section embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ringpage-cta-button {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	font-size: 40px;
	color: #fff;
	background-color: #69cb63;
	margin: 20px auto 0;
	display: block;
	padding: 22px 0 12px;
	width: 50%;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0;
}

.ringpage-content-section-wrapper {
	float: left;
	width: 100%;
	background-color: #e0f4df;
	color: #32352f;
	
}

.ringpage-content-section {
	max-width: 800px;
	margin: 40px auto;
	text-align: center;
	color: #32352f;
}

.logo {
	position: relative;
	top: 120px;
	margin: -80px auto 0;
	display: block;

	padding: 6px;
	background-color: #fff;
	
}

.logo-img {
    
    overflow: hidden;
}

.logo.circle {
	height: 150px;
	width: 150px;
	border-radius: 80px;	
}

.logo-img.circle {
	width: 150px;
    height: 150px;	
    border-radius: 50%;
}

.logo.square {
	height: 150px;
	width: 400px;
}

.logo-img.square {
	height: 150px;
	width: 400px;
	object-fit: cover;
}





.ringpage-content-h1 {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	font-size: 50px;
	margin: 40px auto 20px;
	max-width: 760px;
}

.ringpage-content-p {
	font-family: 'HelveticaNeueLT Com 67 MdCn';
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
	max-width: 760px;
}

.ringpage-content-section-wrapper-2 {
	float: left;
	width: 100%;
	background-color: #fff;
	color: #32352f;
}

.ringpage-content-section-2 {
	max-width: 800px;
	margin: 120px auto 40px;
	text-align: left;
	color: #333;
}

.ringpage-content-h1-2 {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	font-size: 34px;
	margin: 40px auto 20px;
	max-width: 760px;
	line-height: 1.4em;
}

.ringpage-content-p-2 {
	font-family: 'HelveticaNeue';
	font-size: 20px;
	margin: 0 auto;
	max-width: 760px;
	line-height: 1.4em;
}

.ringpage-content-p-2 a:link, .ringpage-content-p-2 a:visited, .ringpage-content-p-2 a:active {
	text-decoration: underline;
	color: #ed5349;
}


.ringpage-footer-wrapper {
	float: left;
	width: 100%;
	color: #949494;
	background-color: #f2f2f2;
}

.ringpage-footer {
	max-width: 800px;
	margin: 40px auto;
	text-align: center;
}

.ringpage-footer-p {
	font-size: 18px;
}

.ringpage-footer-p-2 {
	font-family: 'HelveticaNeue';
	font-style: italic;
	font-size: 17px;
	margin-bottom: 20px;
	line-height: 1.4em;
	color: #333;
}

@media only screen and (max-width: 768px) {


	
.logo {
	top: 110px;
	display: block;
	height: 100px;
	width: 100px;
	padding: 4px;
	background-color: #fff;
	border-radius: 60px;
}

.logo-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}


.ringpage-cta-section-wrapper {
	background-image: url("");
	background-size: cover;
	
}

.ringpage-cta-button {
	font-size: 28px;

	width: 90%;

}

.ringpage-content-section {
	width: 90%;
	text-align: center;
	margin: 40px auto 60px;
}

.ringpage-content-section-2 {
	width: 90%;
	text-align: left;
	margin: 100px auto 40px;
}

.ringpage-footer {
	width: 90%;
}

.ringpage-content-h1-2 {
	font-size: 26px;
}

.ringpage-content-p-2 {
	font-size: 16px;
}

.ringpage-content-h1 {
	font-size: 42px;
}

.ringpage-content-p {
	font-size: 18px;
}

.ringpage-footer-p-2  {
	font-size: 16px;
}

.ringpage-footer-p  {
	font-size: 16px;
}

.ringpage-video-section {
 padding-bottom: 56.25%;
 }
	
}



/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}